{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}
{% block main %}
    <p class="recuo">
        Olá, chamo Enéias Paulo de Oliveira, aluno recém-formado no curso de Tecnologia em Sistemas para Internet (TSI) do
        Instituto Federal de Brasília  (turma de 01/2021). Atualmente procuro uma oportunidade no mercado
        trabalho. Para tanto, apresento este portfólio com alguns projetos que desenvolvi ao longo da minha caminhada em busca
        de conhecimento. Minha principal área de conhecimento é em Desenvolvimento de Sistemas.
        Tenho ampla expertise em  linguagem de programação Python e suas frameworks  mais utilizadas  atualmente
        no mercado, como Django e Django REST framework.
        <br>
        Me considero uma pessoa de fácil comunicação e tenho extrema facilidade para trabalhar em grupo, também me considero
        uma pessoa dinâmica e determinada quando o assunto é soluções de problemas. estou sempre acrescentando valores e procurando evoluir
        cada dia mais no intuito de agregar novos conhecimentos a minha formação.
  </p>


    <h4>Visitantes <span class="badge badge-secondary">{{ visitors }}</span></h4>


    <div class="center">
         <a href="{% url 'projetos' %}" class="btn btn-primary center">Projetos</a>
    </div>


{% endblock %}